<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Contacto</title>
  <link rel="stylesheet" href="../fontawesome/css/all.min.css">
</head>
<body>

  <header>
    <nav class="nav1">
      <a class="code" routerLink="/index"><h1>Code JD</h1></a>
        <ul>
          <li> <a routerLink="/contacto">Contacto</a></li>
        </ul>
    </nav>
  </header>

  <section>
    <div class="form-row ">
        <div class="col-lg-12 col-sm-12 col-xs-12">
      <img class="imagen" src="assets/CONTACTANOS.png" alt="">
    </div>
    </div>
  </section>

<div class="container">
  <div class="form-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-grupo">

            <h2>Contacto</h2>

            <label class="nombres">Nombre Completos</label><br>
            <input class="espacio" type="text" name="nombres" required placeholder="Nombre completo">



            <label  class="correo">Correo Electrónico</label><br>
            <input class="espacio" type="email" name="correo" required placeholder="Correo">



            <label class="mensaje">Mensaje</label><br>
            <textarea class="espacio" name="mensaje" required placeholder="Mensaje"></textarea>


          <button class="boton-formulario" type="submit">Enviar</button>
      </div>
    </div>
  </div>


  <div class="form-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="contacto">
          <tr>
            <td>
              <i class="fa-solid fa-phone" id="contacto"></i>
              <h5>Contactanos</h5>
              <p>+34 627689012</p>
            </td>
            <td>
              <i class="fa-regular fa-envelope" id="contacto"></i>
              <h5 >Correo</h5>
              <p>codejd1705!gmail.com</p>
            </td>

            <td>
              <i class="fa-solid fa-eye" id="contacto"></i>
              <h5>Dirección</h5>
              <p>Cl. 10 # 10-10</p>
            </td>

          </tr>
        </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <img class="img-gif" src="assets/contacto.gif" alt="">
        </div>
    </div>
  </div>
</div>


<section>
  <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3178.586857709077!2d-1.8215734241438926!3d37.186288172139605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzfCsDExJzEwLjYiTiAxwrA0OScwOC40Ilc!5e0!3m2!1ses!2sco!4v1708392783309!5m2!1ses!2sco"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

     <!--footer-->

     <footer class="footer">
      <section class="sec3">
            <nav class="nav3">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1>Code JD</h1>

                        <!--Redes sociales-->

                        <!-- Facebook -->
                          <a id="a2" target="_blank" href="https://facebook.com/profile.php?id=100071339031841" role="button"><i class="fa-brands fa-facebook" id="icon2">  </i></a>&nbsp;

                        <!-- Instagram -->
                          <a id="a2" class="a" target="_blank" href="" role="button" ><i class="fa-brands fa-instagram" id="icon2"></i></a>&nbsp;

                        <!-- Whatsapp -->
                          <a id="a2" class="a" target="_blank" href="https://wa.me/3156485860" role="button"><i class="fa-brands fa-whatsapp" id="icon2">  </i></a>
                  </div>
                </div>
            </nav>
      </section>
    </footer>

</body>
</html>
