<!DOCTYPE html>
<html>
  <head>
    <title>Portafolio</title>
  </head>

  <header>
    <nav>
      <a class="code" routerLink="/index"><h1>Code JD</h1></a>
        <ul>
          <li><a routerLink="/nosotros">Quienes Somos</a></li>
        </ul>
    </nav>
  </header>
    <body >
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-6 col-mx-3">
            <h1  class="titulo">Code JD: Líderes en Innovación Tecnológica</h1>
             <main>

              <div class="nosotros">
              <p>

                En Code JD, nuestra pasión por la innovación tecnológica impulsa cada uno de nuestros proyectos. Como líderes en el campo, nos dedicamos a desbloquear el potencial completo de la tecnología para transformar empresas y revolucionar industrias.

                Con un equipo de expertos apasionados por el código y el desarrollo, estamos comprometidos a ofrecer soluciones de vanguardia que impulsen el éxito de nuestros clientes. Desde el diseño de aplicaciones móviles hasta el desarrollo de software a medida, nos enorgullece ofrecer soluciones que no solo cumplen, sino que superan las expectativas.

                Nuestra filosofía se centra en la excelencia técnica, la creatividad y la colaboración. Creemos en el poder de la tecnología para inspirar cambios significativos y estamos constantemente buscando nuevas formas de innovar y mejorar.

                En Code JD, no solo creamos código, creamos experiencias. Únete a nosotros en nuestro viaje hacia el futuro de la tecnología y descubre cómo podemos llevar tu visión al siguiente nivel.</p>
              </div>
           </main>
          </div>
        </div>
      </div>
    </body>

</html>

