<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
  <link rel="stylesheet" href="../fontawesome/css/all.min.css">
</head>
<body>

  <header>
    <nav class="nav1">
      <a class="code" routerLink="/index"><h1>Code JD</h1></a>
        <ul>
          <li> <a routerLink="/contacto">Contacto</a></li>
        </ul>
    </nav>
  </header>

  <section class="titulo">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-sx-12">
      <h1>¿Quiénes somos?</h1>
    </div>
    </div>
  </section>


<div class="contenedor">
  <section class="parrafo">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-sx-12">
        <p>"Descubre el poder de Code JD Technology, líder en tecnología y marketing digital. Ubicados estratégicamente en Garrucha, Almería, España, ofrecemos una amplia gama de servicios especializados para catapultar tu presencia en línea hacia el éxito. Desde el diseño web meticuloso hasta la creación de identidades visuales impactantes, pasando por la publicidad dirigida en plataformas líderes como Facebook, Instagram, TikTok, YouTube y Google Ads, hasta la edición de videos de alta calidad y el mantenimiento experto de computadoras. Con un equipo de profesionales altamente capacitados y experimentados, estamos dedicados a proporcionar soluciones tecnológicas innovadoras y estrategias de marketing eficaces que garantizan el crecimiento de tu negocio en el competitivo mundo digital. Confía en nosotros para llevar tu marca al siguiente nivel y destacarte entre la multitud en línea."</p>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="form-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="mision">
            <h2 id="mision-vision">Misión</h2>
            <p>Nuestra misión en Code JD Technology es proporcionar a nuestros clientes soluciones tecnológicas y de marketing digital de vanguardia que impulsen su presencia en línea y les ayuden a alcanzar sus objetivos comerciales. Nos comprometemos a ofrecer servicios de alta calidad, atención personalizada y resultados excepcionales para satisfacer las necesidades únicas de cada cliente.</p>
      </div>
    </div>
  </div>


    <div class="form-row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <img class="img-mv" src="assets/mision.png" alt="">
        </div>
    </div>
    </div>


</div>

<div class="container">
  <div class="form-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="vision">
        <h2 id="mision-vision">Visión</h2>
        <p>Nuestra visión es convertirnos en el socio de confianza de cada empresa que busque destacarse en el mercado en línea. Aspiramos a ser reconocidos como líderes en la industria, ofreciendo soluciones innovadoras y estrategias efectivas que impulsen el crecimiento y la prosperidad de nuestros clientes en un mundo digital en constante evolución.</p>

      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <img class="img-mv" src="assets/vision.png" alt="">
        </div>
    </div>
  </div>

</div>



    <section class="parrafo-filosofia">
      <div class="form-row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" >
          <h1 class="titulo-filosofia">Nuestra Fílosofia</h1>
          <p class="texto-filosofia">En Code JD Technology, nuestra filosofía se basa en la excelencia, la creatividad y la colaboración. Creemos en la importancia de entender las necesidades específicas de cada cliente y en ofrecer soluciones personalizadas que superen sus expectativas. Nos esforzamos por mantenernos a la vanguardia de las últimas tendencias y tecnologías para garantizar el éxito continuo de nuestros clientes. Con un enfoque centrado en el cliente y un equipo de profesionales apasionados, estamos comprometidos en brindar resultados excepcionales y hacer que cada proyecto sea un éxito."</p>
        </div>
      </div>
    </section>

    <section class="sec5">
      <div class="vertical">
        <tr>
          <td >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="vertical">
            <i class="fa-solid fa-laptop-code" id="iconos-medio"></i>
            </div>
            <h3>Diseño Web</h3>
            <p>
            </p>
          </div>
          </td>
          <td >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="vertical">
              <i class="fa-solid fa-chart-line" id="iconos-medio"></i>
            </div>
            <h3 >Posicionamiento Web </h3>
            <p></p>
          </div>
          </td>
        </tr>
      </div>

      <div class="vertical2">
        <tr>
          <td >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="vertical">
              <i class="fa-solid fa-lightbulb" id="iconos-medio"></i>
            </div>
            <h3>Branding</h3>
            <p>
            </p>
          </div>
          </td>
          <td >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="vertical">
              <i class="fa-solid fa-photo-film" id="iconos-medio"></i>
            </div>
            <h3 >Social Media</h3>
            <p></p>
          </div>
          </td>

          <td>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="vertical">
              <i class="fa-solid fa-headphones-simple" id="iconos-medio"></i>
            </div>
            <h3>Mantenimiento Web</h3>
            <p></p>
          </div>
          </td>
        </tr>
      </div>
</section>

     <!--footer-->

     <footer class="footer">
      <section class="sec3">
            <nav class="nav3">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1>Code JD</h1>

                        <!--Redes sociales-->

                        <!-- Facebook -->
                          <a id="a2" target="_blank" href="https://facebook.com/profile.php?id=100071339031841" role="button"><i class="fa-brands fa-facebook" id="icon2">  </i></a>&nbsp;

                        <!-- Instagram -->
                          <a id="a2" class="a" target="_blank" href="" role="button" ><i class="fa-brands fa-instagram" id="icon2"></i></a>&nbsp;

                        <!-- Whatsapp -->
                          <a id="a2" class="a" target="_blank" href="https://wa.me/3156485860" role="button"><i class="fa-brands fa-whatsapp" id="icon2">  </i></a>
                  </div>
                </div>
            </nav>
      </section>
    </footer>

</body>
</html>
