<!DOCTYPE html>
<html>
  <head>
    <title>Portafolio</title>
  </head>

  <header>
    <nav>
      <a class="code" routerLink="/index"><h1>Code JD</h1></a>
        <ul>
          <li ><a routerLink="/desarrollo">Desarrollo Web</a></li>
        </ul>
    </nav>
  </header>
    <body >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Bienvenido a mi portafolio</h1>
            <p>En este sitio web podrás encontrar información sobre mis habilidades y proyectos que he realizado.</p>
          </div>
        </div>
      </div>
    </body>

</html>
