*{
  margin: 0;
  padding: 0;
}

body{
  background: #ffffff;
  position: relative;
  padding-bottom: 15em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Boton flotante wwp */
.float{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right:  40px;
  padding: 10px;
  font-size: 60px;
  color: black;
}

#icon4{
  color: green;
}

#a4:hover{
  font-size: 50px;
}

  /*---------------------*/

  /* redes sociales superior */

  .redes-sociales{

      justify-content: right;
  }

  #icon{
    color: rgb(0, 0, 0);
    display:inline-block;
    position: relative;
    padding: 10px;
    font-size: 30px;
  }

#icon:hover{
  color: #a7c957;
}
/*----------------------*/


/* Logo */

.logo-gif{
  display: flex;
  width: 210px;
  height: 210px;
}

/*----------------------*/




/* Redes sociales superior*/

.navbar2{
  display: flex;
  justify-content: right;
  margin-top: 5px;
  margin-right: 25px;
  position: relative;

}

#icon3{
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin-top: 8px;
  margin: 4px;
}

#icon3:hover{
  color: #00b4d8;
}



/* ------------------- */

/* Boton de despliegue*/



/*----------------------*/


/* Barra de navegación */
.container{
  margin: 0 ;
  font-size: 10px;
}

.menu{
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
.logo{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.menu .navbar ul li{
  position: relative;
  float: left;
}

.menu .navbar ul li a{
  font-size: 18px;
  padding: 20px;
  color: white;
  display: block;
  font-weight: bold;
}


#menu{
  display: none;
}

.menu-icono{
  width: 25px;
}

.menu label{
  cursor: pointer;
  display: none;
}

@media(max-width: 991px){
  .content{
    min-height: 70px;
  }
  .menu{
    top: 0;
    padding: 20px;
  }
  .menu label{
    display: initial;
  }
  .menu .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: black;
    display: none;
  }
  .menu .navbar ul li{
    width: 100%;
  }
  #menu:checked ~ .navbar{
    display: initial;
  }
}

.navbar{
  background: linear-gradient(100deg, #edede9, #00b4d8, #a7c957);
  color: white;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}



#a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(90deg, #f2f2f2 , #0e9dcc, #93e60e );
  font-weight: bold;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: center bottom;
  transition: all  .5s;
  bottom: 0;
  right: 50%;
}

.vertical{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}

.vertical2{
  margin-top: 70px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}

.fa-solid {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 5px;
  padding-inline: 5px;
  margin: auto;
  position: relative;
}

.titulo:hover{
  color: rgb(0, 0, 0);
}

#a:hover{
  color: rgb(0, 0, 0);
  background-size: 100% 2px;
}

/* Menú desplegable */

.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal  li  a{
	display: block;
	padding: 0px 45px;
	text-decoration: none;
}

.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 250px;
	background-color: rgba(43, 122, 300, 0.5);
  border-radius: 10px 10px 10px 10px;
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
}


.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}
/* --------------- */

/* información */

.sec1{
  position: relative;
  margin-top: 500px;
}

.sec2{
  position: relative;


}

.sec4{
  position: relative;


}
.sec5{
  position: relative;
}

#iconos-medio{

  padding-bottom: 20px;
  font-size: 50px;

}

/*----------------------*/

/* seccion de comentarios */



.slide-container{
  padding: 40px 0;
  display: flex;
  justify-content: center;

}

.slide-content{
  margin: 0 40px;
}

.card{
  width: 320px;
  border-radius: 25px;
  background-color: #edede9;
  box-shadow: 0 0 20px #0e9dcc;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #a7c957;
  border-radius:  25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #a7c957;
}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #edede9 ;
}

.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #edede9;
  display: flex;
}

.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #00b4d8;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.descripcion{
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button{
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #00b4d8;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover{
  background-color: #a7c957;
}

.comentarios{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}


/*

.seccion-social{
  align-content: center;
  display: flex;
  align-items: center;
  margin-top: 700px;
  text-decoration: none;
  text-align: center;

  justify-content: center;
}

.titulo-social{
  display: flex;
  position: absolute;
  margin-bottom: 400px;
  font-size: 20px;
}

.fa-sharp{
  color: red;
}

.card{
  font-size: 20px;
  width: 18rem;
  border: 1px solid #000;
  border-radius: 15px;
  display: flex;
}
*/
/* contenedor */

.contenedor{
  display: grid;
  grid-template-columns: repeat(
    auto-fit, minmax(250px, 1fr
  ));
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  align-content: center;
  align-self: center;
}



/*----------------------*/

/*----------------------*/

// Footer


.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(18deg, #edede9 , #0e9dcc, #edede9);
}



.sec3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  align-content: center;
  padding-bottom: 5px;
  padding-inline: 20px;
  padding: 20px;
}

.sec3:hover{
color: rgb(255, 255, 255);
}

.sec3 h1{
padding: 10px;
font-size: 30px;
align-items: center;
align-content: center;
}


p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#icon2{
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
  font-size: 50px;
}

#icon2:hover{
  color: rgb(255, 255, 255);
}


	/* PANTALLA DE ESCRITORIO GRANDE - LARGE (lg)*/

	@media(min-width: 1200px){
		.col-lg-12{width: 100%;	}
		.col-lg-11{width: 91.66666667%;}
		.col-lg-10{width: 83.33333333%;}
		.col-lg-9{width: 75%;}
		.col-lg-8{width: 66.66666667%;}
		.col-lg-7{width: 58.33333333%;}
		.col-lg-5{width: 41.66666667%;}
		.col-lg-6{width: 50%;}
		.col-lg-4{width: 33.33333333%;}
		.col-lg-3{width: 25%;}
		.col-lg-2{width: 16.66666667%;}
		.col-lg-1{width: 8.33333333%;}
		.col-lg-0{display: none;}

		#seccion4 article p img{width: 50%;}
	}

	/* PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md)*/

	@media(max-width: 1199px) and (min-width: 992px){
		.col-md-12{width: 100%;	}
		.col-md-11{width: 91.66666667%;}
		.col-md-10{width: 83.33333333%;}
		.col-md-9{width: 75%;}
		.col-md-8{width: 66.66666667%;}
		.col-md-7{width: 58.33333333%;}
		.col-md-5{width: 41.66666667%;}
		.col-md-6{width: 50%;}
		.col-md-4{width: 33.33333333%;}
		.col-md-3{width: 25%;}
		.col-md-2{width: 16.66666667%;}
		.col-md-1{width: 8.33333333%;}
		.col-md-0{display: none;}

		#seccion4 article p img{width: 60%;}
	}

	/* PANTALLA DE TABLET - SMALL (sm)*/

	@media(max-width: 991px) and (min-width: 768px){
		.col-sm-12{width: 100%;	}
		.col-sm-11{width: 91.66666667%;}
		.col-sm-10{width: 83.33333333%;}
		.col-sm-9{width: 75%;}
		.col-sm-8{width: 66.66666667%;}
		.col-sm-7{width: 58.33333333%;}
		.col-sm-5{width: 41.66666667%;}
		.col-sm-6{width: 50%;}
		.col-sm-4{width: 33.33333333%;}
		.col-sm-3{width: 25%;}
		.col-sm-2{width: 16.66666667%;}
		.col-sm-1{width: 8.33333333%;}
		.col-sm-0{display: none;}

		#seccion4 article p img{width: 100%;margin-bottom: 20px;}
	}

	/* PANTALLA DE PHONES - EXTRA SMALL (xs)*/

	@media(max-width: 767px){
		.col-xs-12{width: 100%;	}
		.col-xs-11{width: 91.66666667%;}
		.col-xs-10{width: 83.33333333%;}
		.col-xs-9{width: 75%;}
		.col-xs-8{width: 66.66666667%;}
		.col-xs-7{width: 58.33333333%;}
		.col-xs-5{width: 41.66666667%;}
		.col-xs-6{width: 50%;}
		.col-xs-4{width: 33.33333333%;}
		.col-xs-3{width: 25%;}
		.col-xs-2{width: 16.66666667%;}
		.col-xs-1{width: 8.33333333%;}
		.col-xs-0{display: none;}

		#seccion4 article p img{width: 100%;margin-bottom: 20px;}
	}









